:root {
  --bg-color: #fff;
  --text-color: rgb(10, 10, 10);
  --blog-gray-color: rgb(80, 80, 80);
  --background-left: linear-gradient(
    90deg,
    rgba(10, 10, 10, 0.1),
    rgb(10, 10, 10, 0.8)
  ),
  url("{{{background}}}");
}