:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --blog-gray-color: rgb(180, 180, 180);
  --background-left: linear-gradient(
    90deg,
    rgba(10, 10, 10, 0.1),
    rgb(10, 10, 10, 0.8)
  ),
  url("{{{background}}}");
}

#display h1 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

#blog-display h1 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

.projects section {
  background: rgb(20, 20, 20, 0.5);
}

#blog_section section {
  background: rgb(20, 20, 20);
}

@media (max-width: 800px) {
  :root {
    --background-left: linear-gradient(
        0deg,
        rgba(10, 10, 10, 1),
        rgba(10, 10, 10, 0)
      ),
      url("{{{background}}}") !important;
  }
}
